/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

:root {
  --primary: #457B9D;
  --secondary: #A8DADC;
  --dark: #1D3557;
  --light: #F1FAEE;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: var(--dark);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  margin: 5px;
  line-height: 1.25;
  color: var(--light);
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

p {
  font-size: 1.1rem;
  color: var(--light);
  margin: 10px;
}

.section {
  margin: 20px 50px;
}

header {
  background: var(--light);
  padding: 20px 25px;
}

header h1 {
  align-self: center;
}

header a {
  color: var(--primary);
  text-decoration: none;
}

header a:hover {
  color: var(--dark);
}

footer {
  margin-top: 60px;
  margin-bottom: 20px;
  text-align: center;
}

footer a {
  color: var(--light);
  margin: 20px;
  opacity: 0.7;
}

footer a:hover {
  opacity: 1;
}

li {
  list-style: none;
}

nav a:hover {
  text-decoration: none;
}

nav li {
  cursor: pointer;
  padding: 5px;
  border-radius: 8px;
}

.mx-2 {
  margin-right: 1rem;
  margin-left: 1rem;
}

.about img {
  border-radius: 50%;
  width: 300px;
  margin: 50px;
}

.about p {
  margin: 0 50px;
}

#contact-form {
  width: 40%;
  margin: 10px 50px;
}

.form-label {
  margin: 5px 0;
  text-align: left;
  color: var(--light);
}

.form-control {
  display: block;
  width: 100%;
  margin: 5px 0;
}

.button {
  font-size: 1rem;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: .5rem;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 15px;
  background-color: var(--primary);
  color: var(--light);
}

.button:hover {
  opacity: .8;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.space-between {
  justify-content: space-between;
}

.navActive {
  background-color: var(--secondary);
}

.navActive a:hover {
  color: var(--light);
}

.container {
  margin: 0 auto;
  width: 90%;
}

.card {
  width: fit-content;
  height: fit-content;
  position: relative;
  margin: 20px;
}

.projects img {
  height: 200px;
}

.overlay {
  position: absolute;
  color: white;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: white;
}

.col:hover .overlay {
  opacity: 0.7;
}

.card-title
.card-text {
  padding: 20px;
}

.resume li {
  list-style: circle;
  color: var(--light);
}

.resume a {
  text-decoration: none;
  color: var(--light);
  opacity: 0.8;
}

.resume a:hover {
  opacity: 1.0;
}